        body{

            color:rgb(255, 230, 194);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            background-image: url('bg.jpg');
            background-size: inherit;

        }

        h3{
            margin-top: 40px;
        }
        h1{
            margin-bottom: 25px;
        }
        div {
            margin: 0 auto;
                      
        }
        #animalName{
            margin:7px
        }

        .btn{
            margin:7px;
            background: rgb(255, 230, 194);
            color: rgb(165, 61, 42)
        }

        .btn:hover{
           
            background: rgb(224, 68, 20);
            border-color:rgb(255, 230, 194);
            color:rgb(255, 230, 194);

        }
        .gif{
           border: 1px solid rgb(249, 249, 227);
          
         
        }
        .images{
            width:30%;
            margin: auto 10px;
        }
        #images{
            margin-top: 30px;
            max-width: fit-content;
            min-width: auto;
            flex-direction: row;
            display: flex;
            flex-flow: row wrap;
            overflow: auto;
        }
